[package]
name = "earbuds"
version = "0.1.9"
authors = ["jojii <jojii@gmx.net>"]
edition = "2018"
description = "Control your galaxy buds live via cli"
repository = "https://github.com/JojiiOfficial/LiveBudsCli"
license = "GPL-3.0"
readme = "README.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
galaxy_buds_rs = { git = "https://github.com/JojiiOfficial/GalaxyBuds-rs"}
#galaxy_buds_rs = "0.2.10"
clap = "3.0.0-beta.2"
async-std = { version = "1.9.0", features = ["attributes"] }
bluetooth-serial-port-async = "0.6.3"
blurz = "0.4.0"
ofiles = "0.2.0"
serde = "1.0.127"
serde_derive = "1.0.127"
serde_json = "1.0.66"
notify-rust = "4.5.2"
toml = "0.5.8"
mpris = "2.0.0-rc2"
clap_generate = "3.0.3"
nix = "0.22.0"
rust-pulsectl-fork = { version = "0.2.12", optional = true }
human-panic = "1.0.3"

[features]
default = ["pulse-sink"]
pulse-sink = ["rust-pulsectl-fork"]
